.navbar-default {
    background-color: #F81B02;
    border-color: #545454;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #d2d2d2;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #d2d2d2;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
    color: #FFF;
    background-color: #545454;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #777777;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #F81B02;
    border-color: #F81B02;
}

.section h1 {
    padding-top: 100px !important;
}

.section h2 {
    padding-top: 90px !important;
}

.section h3 {
    padding-top: 80px !important;
}
